/* src/components/ProductCard.css */
.product-card {
    margin: 8px;
    width: 300px; /* Fixed width */
    min-height: 330px; /* Fixed height */
    max-height: 400px;
    display: flex;
    flex-direction: column;
  }
  
  .product-image {
    width: 100%;
    height: 100%; /* Adjust as needed */
    object-fit: cover; /* Maintain aspect ratio and cover the area */
  }
  
  /* Optional: Style the link to remove default styling */
  .product-card-link {
    text-decoration: none;
    color: inherit; /* Inherit text color from parent */
  }
  